body
{
    padding-top: 101px;
}

$billboardBorderColor: #efefef;

.header
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.95);
    border-bottom: 1px solid $billboardBorderColor;
    z-index: 999999;

    .navigation
    {
        width: 100%;
        height: 100px;

        .nav
        {
            padding: 0 1.2em;
            text-align: center;
            vertical-align: middle;
            white-space: nowrap;

            @media screen and (min-width: 1024px)
            {
                padding: 2em;
            }

            a:link, a:visited, a:active
            {
                color: $navTextColor;
            }

            a:hover
            {
                color: $baseTextColor;
            }
        }

        .nav-home
        {
            text-align: left;
            width: 100%;
        }

        .nav:first-child
        {
            padding-left: 0;
        }

        .nav:last-child
        {
            padding-right: 0;
        }
    }
}

.billboard
{
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 1px solid $billboardBorderColor;
}

.footer
{
    @include filter-gradient(#da0851, #a60a21, vertical);
    background: #da0851;
    @include background(linear-gradient(top, #da0851, #a60a21));

    padding: 2.5em 0 1em 0;

    p, a:link, a:visited, a:hover, a:active
    {
        color: #fff;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
    }

    .contact-methods
    {
        $contactMethodWidth: 200px;
        margin: auto;
        width: $contactMethodWidth * 2;

        @include clearfix;

        .contact-method
        {
            float: left;
            text-align: center;
            width: $contactMethodWidth;

            p
            {
                display: block;
                font-size: 12pt;
            }
        }
    }
}
