$baseTextColor: #c6366c;
$lightTextColor: #686868;
$navTextColor: #adadad;
$experimental-support-for-svg: true;

body, .diagnostic-records-inner
{
    background-color: white;
}

div, p
{
    font-family: "Open Sans", sans-serif;
    color: $lightTextColor;
}

p
{
    margin-top: 1em;
    margin-bottom: 1em;

    font-size: 1.1em;
    font-weight: lighter;
    line-height: 1.75em;
}

a:link, a:visited, a:active
{
    color: $baseTextColor;
    font-weight: normal;
    text-decoration: none;
}

a:hover
{
    color: $lightTextColor;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6
{
    color: $baseTextColor;
}

h1
{
    font-size: 2.1em;
    font-weight: 200;
}

// Reddish line at the top of the site and braces care issue blocks
.theme-line
{
    @include filter-gradient(#ab0a26, #da0852, horizontal);
    background: #ab0a26;
    @include background-image(linear-gradient(left, #ab0a26, #da0852));
    height: 8px;
}

.billboard
{
    margin-bottom: 4em;
    position: relative;

    img
    {
        display: block;
        width: 100%;
    }

    .billboard-title
    {
        position: absolute;
        left: 20%;
        bottom: 2em;

        p
        {
            font-size: 4.5em;
            margin-top: 0;

            color: white;
            font-weight: 400;
            @include text-shadow(0 1px 3px #5c5c5c);

            @media screen and (max-width: 1024px)
            {
                font-size: 3.5em;
            }
        }
    }
}

// Adds bottom spacing for content blocks on various pages
.content-block
{
    padding-bottom: 7em;
}

.sxs-panel
{
    background-image: image-url('radial-shadow-top.png');
    background-position: center top;
    background-repeat: no-repeat;

    padding-top: 5em;

    table
    {
        margin: auto;
        width: 75%;

        td:first-child
        {
            padding-right: 5em;
            vertical-align: top;
            width: 20%;
        }
    }
}

.carousel
{
    .dots
    {
        text-align: center;

        .dot
        {
            background-image: image-url("ui/circle-grey.png");
            background-size: 9px 9px;
            cursor: pointer;
            display: inline-block;
            width: 9px;
            height: 9px;
            margin-left: 5px;
            margin-right: 5px;

            &.active
            {
                background-image: image-url("ui/circle-purple.png");
            }
        }
    }
}
