.billboard-braces-care
{
    img
    {
        display: block;
        width: 100%;
    }

    .responsive-container
    {
        position: relative;

        p
        {
            position: absolute;
            left: 0;
            top: 0;

            color: $baseTextColor;
            font-size: 54pt;
        }
    }
}

.common-issues
{
    text-align: center;

    .issue
    {
        display: inline-block;
        margin-left: 25px;
        margin-right: 25px;
        min-height: 300px;
        vertical-align: top;
        text-align: left;
        width: 350px;
    }
}

.foods-to-avoid-list
{
    @include clearfix;

    .responsive-container-third
    {
        float: left;
    }
}
