.billboard-braces-care
{
    p
    {
        color: $baseTextColor;
    }
}

.common-issues
{
    background-image: image-url('large-hexagon.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding-top: 5em;
    text-align: center;

    h1
    {
        margin-top: 5em;
        margin-bottom: 5em;
    }

    .issue
    {
        display: inline-block;
        margin-left: 25px;
        margin-right: 25px;
        min-height: 300px;
        vertical-align: top;
        text-align: left;
        width: 350px;

        .theme-line
        {
            height: 2px;
        }

        .title
        {
            color: $baseTextColor;
            font-size: 1.5em;
            font-weight: 200;
            margin-top: 0.5em;
        }

        .description
        {
            font-size: 0.85em;
        }
    }
}

.foods-to-avoid-list
{
    @include clearfix;

    margin-top: 8em;
    margin-bottom: 8em;

    .food-category
    {
        float: left;
        line-height: 1.75em;
        width: 34%;

        li
        {
            font-weight: 200;
        }
    }

    .food-category:first-child, .food-category:last-child
    {
        width: 33%;
    }
}

.smile-bucks
{
    padding-top: 7em;
}
