.billboard-contact
{
    p
    {
        color: white;
    }
}

.contact-info-container
{
    @include clearfix;
    margin-top: 2em;
    margin-bottom: 2em;

    .map, .contact-info
    {
        float: left;
    }

    .map
    {
        background-color: #ccc;
    }

    .contact-info
    {
        box-sizing: border-box;
        padding-left: 2em;
    }
}
