.billboard-home
{
    .responsive-container
    {
        position: relative;

        .text-container
        {
            position: absolute;
            left: 0;
            bottom: 0.5em;

            font-size: 2.1em;

            .title, .subtitle
            {
                color: $baseTextColor;
            }

            .title
            {
                font-weight: 600;
            }

            .subtitle
            {
                font-family: Futurist, sans-serif;
                font-size: 0.3em;
                text-transform: uppercase;
                margin-top: 1em;
            }
        }
    }
}

.our-office
{
    h1
    {
        margin-top: 1.25em;
        margin-bottom: 1.25em;
    }
}

.introduction-panel-staff
{
    position: relative;

    img
    {
        width: 100%;
    }

    h1
    {
        color: white;
        font-size: 48pt;
        position: absolute;
        text-align: center;

        bottom: 0.5em;
        left: 0;
        right: 0;
    }
}

.staff-info
{
    text-align: center;

    margin-top: 5em;
    margin-bottom: 5em;

    .staff-names
    {
        font-style: italic;
    }
}

.testimonials
{
    @include background-image(image-url("white-radial-shadow-top.png"), radial-gradient(50% 50%, rgb(254, 254, 254) 0%, rgb(246, 246, 246) 100%));
    background-repeat: no-repeat;

    font-style: italic;

    padding-top: 5em;
    padding-bottom: 4em;

    .testimonials-inner
    {
        width: 40%;

        .testimonial
        {
            min-height: 350px;

            blockquote
            {
                font-weight: 200;
                line-height: 1.7em;
                text-align: center;
            }

            .name
            {
                color: #383838;
                text-align: right;
            }
        }
    }
}
