.billboard-home
{
    img
    {
        display: block;
        width: 100%;
    }

    .responsive-container
    {
        position: relative;

        .text-container
        {
            position: absolute;
            left: 0;
            bottom: 0.5em;

            font-size: 2.1em;

            .title, .subtitle
            {
                color: $baseTextColor;
            }

            .title
            {
                font-weight: 600;
            }

            .subtitle
            {
                font-family: Futurist, sans-serif;
                font-size: 0.3em;
                text-transform: uppercase;
                margin-top: 1em;
            }
        }
    }
}

.our-office
{
    h1
    {
        margin-top: 1.25em;
        margin-bottom: 1.25em;
    }
}

.introduction-panel-doctor
{
    background-image: image-url('radial-shadow-top.png');
    background-position: center top;
    background-repeat: no-repeat;

    padding-top: 5em;

    &.default-version
    {
        table
        {
            margin: auto;
            width: 75%;
        }

        td:first-child
        {
            padding-right: 5em;
            vertical-align: top;
            width: 20%;
        }

        @media screen and (max-width: 1023px)
        {
            display: none;
        }
    }

    &.condensed-version
    {
        margin: auto;
        width: 90%;

        img
        {
            max-width: 90%;
        }

        .profile-image, h1
        {
            text-align: center;
        }

        h1
        {
            padding-top: 0.5em;
            padding-bottom: 0.5em;
        }

        p
        {
            text-align: justify;
        }

        @media screen and (min-width: 1024px)
        {
            display: none;
        }
    }

}

.introduction-panel-staff
{
    position: relative;

    img
    {
        width: 100%;
    }

    h1
    {
        color: white;
        font-size: 48pt;
        position: absolute;
        text-align: center;

        bottom: 0.5em;
        left: 0;
        right: 0;
    }
}

.staff-info
{
    text-align: center;

    margin-top: 5em;
    margin-bottom: 5em;

    .staff-names
    {
        font-style: italic;
    }
}

.testimonials
{
    @include background-image(image-url("white-radial-shadow-top.png"), radial-gradient(50% 50%, rgb(254, 254, 254) 0%, rgb(246, 246, 246) 100%));
    background-repeat: no-repeat;

    font-style: italic;

    padding-top: 4em;
    padding-bottom: 4em;

    .testimonials-inner
    {
        width: 40%;

        .testimonial
        {
            min-height: 350px;

            blockquote
            {
                font-weight: 200;
                line-height: 1.5em;
                text-align: center;
            }

            .name
            {
                color: #383838;
                text-align: right;
            }
        }
    }

    .dots
    {
        text-align: center;

        .dot
        {
            background-image: image-url("ui/circle-grey.png");
            background-size: 9px 9px;
            cursor: pointer;
            display: inline-block;
            width: 9px;
            height: 9px;
            margin-left: 5px;
            margin-right: 5px;

            &.active
            {
                background-image: image-url("ui/circle-purple.png");
            }
        }
    }
}
