.billboard-new-patients
{
    p
    {
        color: $baseTextColor;
    }
}

.diagnostic-records
{
    img
    {
        display: block;
        width: 100%;
    }

    .diagnostic-records-inner
    {
        background-color: white;
        box-sizing: border-box;
        margin-top: -13em;
        padding: 5em 7em;
        position: relative;

        @media screen and (max-width: 1280px)
        {
            margin-top: -7em;
            width: 80%;
        }
    }
}

.braces-info
{
    background-image: image-url("braces-retention-background.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding-top: 5em;
    padding-bottom: 5em;
    margin-top: 3em;

    .sxs-panel
    {
        background-image: none;
        font-size: 0.9em;
        padding: 3em 0;

        p
        {
            color: #3c3c3c;
        }

        td
        {
            vertical-align: top;
        }

        // table cells containing red hexagons
        .hex-label
        {
            padding-left: 1.5em;

            div
            {
                background-image: image-url("ui/hexagon.png");
                background-repeat: no-repeat;
                background-size: 100%;
                width: 150px;
                height: 166px;
                line-height: 166px;
                text-align: center;
                color: white;
                font-size: 1.4em;
            }
        }

        p:first-child
        {
            margin-top: 0;
        }
    }
}

.before-and-after
{
    margin: 8em 0;

    .responsive-container
    {
        position: relative;
    }

    .slides-container
    {
        height: 600px;
    }

    .slide
    {
        margin: 3em 0;
        width: 100%;

        position: absolute;

        td
        {
            color: $baseTextColor;
            font-style: italic;
            font-weight: 200;
            line-height: 2em;
            text-align: center;
            width: 50%;

            img
            {
                width: 100%;
            }
        }
    }
}

.financing-options
{
    text-align: center;

    p
    {
        color: $baseTextColor;
    }

    li
    {
        font-weight: 200;
        line-height: 1.5em;
    }
}
