$baseTextColor: #c6366c;
$lightTextColor: #9c9898;
$navTextColor: #adadad;
$experimental-support-for-svg: true;

div, p
{
    font-family: "Open Sans", sans-serif;
    color: $lightTextColor;
}

p
{
    margin-top: 1em;
    margin-bottom: 1em;

    font-size: 1.1em;
    font-weight: lighter;
    line-height: 1.75em;
}

a:link, a:visited, a:active
{
    color: $baseTextColor;
    font-weight: normal;
    text-decoration: none;
}

a:hover
{
    color: $lightTextColor;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6
{
    color: $baseTextColor;
}

h1
{
    font-size: 2.1em;
    font-weight: 200;
}

// Reddish line at the top of the site and braces care issue blocks
.theme-line
{
    @include filter-gradient(#ab0a26, #da0852, horizontal);
    background: #ab0a26;
    @include background-image(linear-gradient(left, #ab0a26, #da0852));
    height: 8px;
}

.billboard
{
    margin-bottom: 4em;
    position: relative;

    .billboard-title
    {
        position: absolute;
        left: 20%;
        bottom: 2em;

        p
        {
            font-size: 54pt;
            margin-top: 0;
        }
    }
}

// Adds bottom spacing for content blocks on various pages
.content-block
{
    padding-bottom: 7em;
}

@mixin legible-heading($color: #333)
{
    @include single-text-shadow(0, 0, 10px, false, $color);
}
